<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/game.css">
    <link rel="stylesheet" href="../styles/all.css">
    <title>Juego Educativo - Rondas</title>
</head>

<body>
    <main>
        <section class="background">
        </section>

        <div class="positions">
            <div id="player-box" class="player">

            </div>
        </div>
        <div id="levelTitleContainer">
            <h1 id="levelTitle"></h1>
        </div>

        <div id="time">
            <p id="seconds">Iniciando...</p>
        </div>

        <section class="imageContainer">
            <div id="contextContainer">
                <h1 id="context"></h1>
            </div>

            <div>
                <div class="images" id="imageRound"></div>
            </div>

            <form>
                <input type="text" name="" id="insert_word" placeholder="Ingresa una palabra...">
                <div id="answer">
                    <button id="btn-word">ENVIAR</button>
                </div>
            </form>
        </section>

        <a href="../index.html">
            <button id="btn_1">VOLVER</button>
        </a>
    </main>
    <script type="module" src="../src/script-game.js"></script>
</body>

</html>