<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/podium.css">
    <link rel="stylesheet" href="../styles/all.css">
    <title>Document</title>
</head>

<body>
    <main>
        <section class="background">
        </section>
        <section id="total">
            
        </section>
        <div>
            <a href="game.html">
                <button>BACK</button>
            </a>
        </div>
    </main>
    <script type="module" src="../src/script-podium.js"></script>
</body>
</html>