<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/podium.css">
    <link rel="stylesheet" href="../styles/all.css">
    <title>Resultados - Juego Educativo</title>
</head>

<body>
    <main>
        <section class="background">
        </section>
        
        <section id="total">
            
        </section>
        
        <div style="display: flex; flex-direction: row; justify-content: space-around; position: absolute; bottom: 20px; width: 100%;">
            <button id = "backStart">Volver al inicio</button>
            <button id = "nextLevel">Siguiente Nivel</button>
        </div>
    </main>
    <script type="module" src="../src/script-podium.js"></script>
</body>
</html>